<html>
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" type="text/css" href="/assets/index.css">-->
    
    <%= stylesheet_link_tag 'index' %>
  </head>
  <body>
    <header>
      <div class="header_box">
        <div class="home table_cell"></div>
        <div class="main_image table_cell">
          <!--<img src="/assets/twitter.png"/>-->
          <%= image_tag('twitter.png') %>
        </div>
        <div class="top_right table_cell">
        <%= link_to '<button class="newButton button">new tlog</button>'.html_safe, new_tlog_path %>
        </div>
      </div>
    </header>
    <nav>
    
    </nav>
    <section>
      <% @tlog.each do |tlog| %>
        <article>
          <div style="display:none" class="tlog_id"><%= tlog.id %></div>
          <div class="profile"><%= image_tag('twitter_profile.png') %></div>
          <div class="nickname">nickname</div>
          <div class="content"><%= tlog.content %></div>
          <%= link_to '<button class="deleteButton button">delete</button>'.html_safe, tlog_path(tlog.id), method: :delete, data: {confirm: 'Are you sure delete?'} %>
          <%= link_to '<button class="editButton button">edit</button>'.html_safe, edit_tlog_path(tlog.id) %>
        </article>
      <% end %>
    </section>
    <aside>
      
    </aside>
  </body>  
</html>

